<header class="index_header">
  <h1>Books</h1>
</header>


<div class="index_main_content">
<table>
  <tr><th>Title</th><th>Body</th></tr>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><%= link_to"Show", "/books/#{@book.id}" %></td>
    <td><%= link_to"Edit", "/books/#{@book.id}/edit" %></td>
    <td><%= link_to "Destroy", "/books/#{@book.id}", method: :delete, "data-confirm" => "Are you sure?" %></td>
  </tr>
  <% end %>
</table>
</div>

<div class="index_write_contet">
<h2 class="index_write_subject">New Book</h2>
<%= form_with model: @book do |f| %>
<p class="index_write_title">Title</p>
<%= f.text_field :title %>
<p class="index_write_body">Body</p>
<%= f.text_area :body %></br>
<div class="index_write_submit">
<%= f.submit 'Create Book' %>
</div>
<% end %>
</div>

